.rsc-content {
  flex: 1;
  height: initial;
  max-height: calc(100% - 88px) !important;
  @media only screen and (max-width: 600px) {
    max-height: calc(100% - 57px) !important;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}
.rsc-container {
  border-radius: 0px !important;
  display: flex;
  flex-direction: column;
  // height: inherit !importan  t;
  height: 100% !important;
}

.rsc-input {
  margin-bottom: 0px;
  border: 1px solid #384455;
  background: #2b3441;
  color: white;
  border-radius: 10px !important;
  border: none !important;

  @media only screen and (max-width: 600px) {
    margin-bottom: 0px;
    border-radius: 0px !important;
    border: none !important;
  }

  &::placeholder {
    color: white;
  }
}

.rsc-ts-bubble {
  max-width: 60% !important;
}

.rsc-cs {
  background: transparent !important;
  // color: white;
}

.typing-loader {
  margin: 60px auto;
  width: 6px;
  height: 6px;
  -webkit-animation: line 1s linear infinite alternate;
  -moz-animation: line 1s linear infinite alternate;
  animation: line 1s linear infinite alternate;
}
@-webkit-keyframes line {
  0% {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.2),
      24px 0px 0px 0px rgba(255, 255, 255, 0.2);
  }
  25% {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 2),
      24px 0px 0px 0px rgba(255, 255, 255, 0.2);
  }
  75% {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.2),
      24px 0px 0px 0px rgba(255, 255, 255, 2);
  }
}

@-moz-keyframes line {
  0% {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.2),
      24px 0px 0px 0px rgba(255, 255, 255, 0.2);
  }
  25% {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 2),
      24px 0px 0px 0px rgba(255, 255, 255, 0.2);
  }
  75% {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.2),
      24px 0px 0px 0px rgba(255, 255, 255, 2);
  }
}

@keyframes line {
  0% {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.2),
      24px 0px 0px 0px rgba(255, 255, 255, 0.2);
  }
  25% {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 2),
      24px 0px 0px 0px rgba(255, 255, 255, 0.2);
  }
  75% {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.2),
      24px 0px 0px 0px rgba(255, 255, 255, 2);
  }
}
