.rsc-content {
  flex: 1;
  &::-webkit-scrollbar {
    display: none;
  }
}
.rsc-container {
  border-radius: 0px !important;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.rsc-input {
  &::placeholder {
    color: white;
  }
}
