.rsc-content {
  flex: 1;
  height: initial;
  // max-height: calc(100% - 90px) !important;
  &::-webkit-scrollbar {
    display: none;
  }
}
.rsc-container {
  border-radius: 0px !important;
  display: flex;
  flex-direction: column;
  // height: inherit !importan  t;
  height: 100% !important;
}

.rsc-footer {
  height: 58px !important;
}

.rsc-input {
  &::placeholder {
    color: white;
  }
}
